In [ ]:
# Day 2 - List, Tuple, Dictionaries by Muhammad Qamar

In [ ]:
#1. Python List
fruits = ["Apple","Banana","Mango"]
print(f"Fruits List : {fruits}")

fruits.append("Grapes")   # add item
print(f"Updated Fruits: {fruits}")

fruits.remove("Banana")   # remove item
print(f"After Removal : {fruits}")

Fruits List : ['Apple', 'Banana', 'Mango']
Updated Fruits: ['Apple', 'Banana', 'Mango', 'Grapes']
After Removal : ['Apple', 'Mango', 'Grapes']

In [ ]:
#2. Looping through list
for fruit in fruits:
  print(f"I like, {fruit}")

I like, Apple
I like, Mango
I like, Grapes

In [ ]:
#3. Tuples ( Immutable list )
color = ("Red","Green","Blue")
print(f"Colors Tuple : {color}")
print(f"First Color: {color[0]}")

Colors Tuple : ('Red', 'Green', 'Blue')
First Color: Red

In [ ]:
#4. Dictionaires ( Key-value Pairs)
student = {
    "name" : "Muhammad Qamar",
    "age" : "17",
    "grade" : "A"
}

print(f"Student Dictionay : {student}")
print(f"Student name : {student['name']}")

Student Dictionay : {'name': 'Muhammad Qamar', 'age': '17', 'grade': 'A'}
Student name : Muhammad Qamar

In [ ]:
#5. Add new Key
student["School"] = "Astron College"
print(f"Updated Dictionary : {student}")

Updated Dictionary : {'name': 'Muhammad Qamar', 'age': '17', 'grade': 'A', 'School': 'Astron College'}

In [ ]:
#6. Loop through Dictionary
for key, value in student.items():
  print(f"{key} -> {value}")

name -> Muhammad Qamar
age -> 17
grade -> A
School -> Astron College