In [ ]:
# Day 5 - Simple Calculator by Muhammad Qamar

In [2]:
def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    if y == 0:
        return "Cannot divide by zero!"
    return x / y

In [3]:
# Menu
print("Simple Calculator")
print("1. Add\n2. Subtract\n3. Multiply\n4. Divide")

Simple Calculator
1. Add
2. Subtract
3. Multiply
4. Divide

In [4]:
# Take input
choice = input("Enter your choice (1/2/3/4): ")

Enter your choice (1/2/3/4): 1

In [5]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

Enter first number: 1
Enter second number: 2

In [6]:
# Perform operation
if choice == '1':
    print("Result:", add(num1, num2))
elif choice == '2':
    print("Result:", subtract(num1, num2))
elif choice == '3':
    print("Result:", multiply(num1, num2))
elif choice == '4':
    print("Result:", divide(num1, num2))
else:
    print("Invalid Input")

Result: 3.0